body{
    margin:0 auto;
    box-sizing: border-box;
}



.box{
    position: absolute;
    bottom:0;
    height: 50px;
    background-color: #fff;
    padding:2%;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#map { 
    height: 100vh; 
    z-index: 0 ;
}

